docs/agente ai/n8n_flujo_v7_formatter.json
{
    "name": "Joyería Alianza - Chat v7 (Formatter + Handoff)",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "https://hmcwbizjawrhpkiyydye.supabase.co/rest/v1/chat_handoff",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"client_phone\": $json.client_phone,\n  \"is_paused\": $json.is_paused,\n  \"paused_by\": $json.paused_by,\n  \"paused_at\": $json.paused_at,\n  \"resume_at\": $json.resume_at,\n  \"seller_name\": $json.seller_name\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1520,
                10192
            ],
            "id": "0479b299-ebf6-4362-b35a-ed0d94b07b1a",
            "name": "💾 Guardar Pausa (HTTP)",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://hmcwbizjawrhpkiyydye.supabase.co/rest/v1/chat_handoff",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"client_phone\": $json.client_phone,\n  \"is_paused\": $json.is_paused,\n  \"paused_by\": $json.paused_by,\n  \"paused_at\": $json.paused_at,\n  \"resume_at\": $json.resume_at,\n  \"seller_name\": $json.seller_name\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1520,
                10352
            ],
            "id": "36e23e0e-3dff-4450-acfd-f59d6e4c81a1",
            "name": "💾 Guardar Estado (HTTP)",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://hmcwbizjawrhpkiyydye.supabase.co/rest/v1/chat_handoff?client_phone=eq.{{ $json.phoneNumber }}&limit=1",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1744,
                10512
            ],
            "id": "a90f83aa-c6f7-4463-a571-43332adc6c69",
            "name": "🔍 Consultar Handoff (HTTP)",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "jaflujodev",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2448,
                10400
            ],
            "id": "6d5ddb36-6f51-4d0c-8f5c-330d7af7299a",
            "name": "Webhook Chat v",
            "webhookId": "send-to-whatsapp"
        },
        {
            "parameters": {
                "jsCode": "// ─── PREPARAR DATOS v7 (con detección de handoff) ───\nconst body = $input.item.json.body;\n\n// ─── CASO 1: WhatsApp entrante (Evolution API) ───\nif (body.event === 'messages.upsert') {\n  const msgData = body.data;\n  const remoteJid = msgData.key.remoteJidAlt || msgData.key.remoteJid;\n  const phoneNumber = remoteJid.split('@')[0];\n  const isFromSeller = !!msgData.key.fromMe;\n  const messageText = msgData.message?.conversation ||\n                      msgData.message?.extendedTextMessage?.text || '[Multimedia]';\n  return {\n    json: {\n      type: isFromSeller ? 'seller_reply' : 'whatsapp_incoming',\n      phoneNumber,\n      text: messageText,\n      senderName: isFromSeller ? 'Vendedor' : (msgData.pushName || 'Usuario'),\n      timestamp: msgData.messageTimestamp * 1000,\n      conversation_id: '',\n      storeJid: '',\n      isFromSeller\n    }\n  };\n}\n\n// ─── CASO 2: Web Chat ───\nconst data = body.data || body;\nconst clientPhone = String(data.senderPhone || data.phoneNumber || '').replace(/[^0-9]/g, '');\nlet storeRaw = String(data.storeNumber || data.storePhoneNumber || '59895435644').replace(/[^0-9]/g, '');\nlet storeJid = storeRaw;\nif (storeRaw.length === 9) storeJid = '598' + storeRaw;\nconst conversationId = data.conversation_id || body.metadata?.conversation_id || '';\n\n// Detectar comandos del vendedor\nconst text = data.text || body.text || '';\nconst isCommand = text.startsWith('#pausa') || text.startsWith('#activar');\n\nreturn {\n  json: {\n    type: isCommand ? 'command' : 'chat_outgoing',\n    command: isCommand ? text.split(' ')[0].toLowerCase() : '',\n    phoneNumber: clientPhone,\n    senderPhone: clientPhone,\n    senderName: data.senderName || 'Cliente Web',\n    text: text,\n    conversation_id: conversationId,\n    storeJid: storeJid,\n    platform: body.metadata?.platform || 'web_boutique',\n    timestamp: body.metadata?.timestamp ? new Date(body.metadata.timestamp).getTime() : Date.now(),\n    isFromSeller: false\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2224,
                10400
            ],
            "id": "68ea356e-ee0d-4eed-a153-6ce9bbb47d8e",
            "name": "Preparar Datos v7"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "seller_reply",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "Vendedor Responde"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "command",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "Comando"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "chat_outgoing",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "Chat Web"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "whatsapp_incoming",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "WhatsApp Entrante"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -2000,
                10400
            ],
            "id": "c9aed583-360b-412c-a6cb-f292ea6bd9cd",
            "name": "🔀 Router1"
        },
        {
            "parameters": {
                "jsCode": "// ─── VENDEDOR RESPONDIÓ → PAUSAR IA ───\nconst phone = $input.item.json.phoneNumber;\nconst resumeAt = new Date(Date.now() + 30 * 60 * 1000).toISOString();\n\nreturn {\n  json: {\n    client_phone: phone,\n    is_paused: true,\n    paused_by: 'auto',\n    paused_at: new Date().toISOString(),\n    resume_at: resumeAt,\n    seller_name: 'Vendedor',\n    action: 'pause'\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1744,
                10192
            ],
            "id": "63c37c71-7121-4331-868b-d824b357fe2b",
            "name": "⏸️ Preparar Pausa1"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"handoff\", \"message\": \"IA pausada por 30 min\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1296,
                10192
            ],
            "id": "c354ae6b-e212-4139-b5f0-c8da7d51a1fb",
            "name": "✅ Resp: Pausa OK1"
        },
        {
            "parameters": {
                "jsCode": "// ─── PROCESAR COMANDO #pausa / #activar ───\nconst cmd = $input.item.json.command;\nconst phone = $input.item.json.phoneNumber;\n\nif (cmd === '#pausa') {\n  return {\n    json: {\n      client_phone: phone,\n      is_paused: true,\n      paused_by: 'command',\n      paused_at: new Date().toISOString(),\n      resume_at: new Date(Date.now() + 60 * 60 * 1000).toISOString(),\n      seller_name: 'Vendedor (comando)',\n      response_msg: '🛑 IA pausada para este cliente. Escribe #activar para reactivar.'\n    }\n  };\n} else {\n  return {\n    json: {\n      client_phone: phone,\n      is_paused: false,\n      paused_by: '',\n      paused_at: new Date().toISOString(),\n      resume_at: null,\n      seller_name: '',\n      response_msg: '✅ IA reactivada para este cliente.'\n    }\n  };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1744,
                10352
            ],
            "id": "f06042c5-541e-4fc6-9973-6a1e5c48cab8",
            "name": "🎮 Procesar Comando1"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"command\", \"message\": $json.response_msg } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1296,
                10352
            ],
            "id": "7ee33722-ead2-4148-8d1a-9a19b397715e",
            "name": "✅ Resp: Comando OK1"
        },
        {
            "parameters": {
                "jsCode": "// ─── DECIDIR SI LA IA PUEDE RESPONDER ───\nconst handoffArr = $input.item.json;\nconst originalMsg = $('Preparar Datos v7').item.json;\n\nlet handoff = null;\nif (Array.isArray(handoffArr)) {\n  handoff = handoffArr[0] || null;\n} else if (handoffArr && handoffArr.client_phone) {\n  handoff = handoffArr;\n}\n\nif (!handoff) {\n  return { json: { ...originalMsg, ai_active: true } };\n}\n\nif (handoff.is_paused && handoff.resume_at) {\n  const resumeTime = new Date(handoff.resume_at).getTime();\n  if (Date.now() > resumeTime) {\n    return { json: { ...originalMsg, ai_active: true, expired_pause: true } };\n  }\n}\n\nif (handoff.is_paused) {\n  return { json: { ...originalMsg, ai_active: false } };\n}\n\nreturn { json: { ...originalMsg, ai_active: true } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1520,
                10512
            ],
            "id": "d4c1313b-9358-4803-8106-25fa42726569",
            "name": "🧠 ¿IA Activa?1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.ai_active }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1296,
                10512
            ],
            "id": "945005ac-ecee-40ec-8c42-e47c930a08e0",
            "name": "¿IA Activa?1"
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "Maya",
                "remoteJid": "={{ $json.storeJid }}",
                "messageText": "=🛍️ *Web Boutique*\n👤 {{ $json.senderName }} ({{ $json.senderPhone }})\n💬 {{ $json.text }}",
                "options_message": {}
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                -912,
                10272
            ],
            "id": "79ec51a4-25b4-4905-b728-ebe84808d027",
            "name": "📤 Notificar Vendedor7",
            "credentials": {
                "evolutionApi": {
                    "id": "6r5z9RoXouEeeobi",
                    "name": "Evolution Maya"
                }
            }
        },
        {
            "parameters": {
                "user": "={{ $json.phoneNumber }}",
                "query": "={{ $json.text }}",
                "conversationId": "={{ $json.conversation_id }}"
            },
            "type": "n8n-nodes-difyai.difyAi",
            "typeVersion": 1,
            "position": [
                -400,
                10412
            ],
            "id": "1f334e94-70a5-4dcd-9097-03d0174d858e",
            "name": "🤖 Dify (Blocking)3",
            "credentials": {
                "difyApi": {
                    "id": "ACTUALIZAR_EN_N8N",
                    "name": "Dify Alma - app-4ywbOMEo8yMuls03aWsDluhr"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// ─── VERIFICAR RESPUESTA DE DIFY ───\nconst item = $input.item.json;\nconst answer = item.answer || item.response || item.data?.answer || '';\nconst conversationId = item.conversation_id || item.data?.conversation_id || '';\nconst hasError = !!item.error || !answer.trim();\n\nreturn {\n  json: {\n    success: !hasError,\n    answer: answer.trim(),\n    conversation_id: conversationId,\n    error: hasError ? (item.error || 'Respuesta vacía de Dify') : null\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -176,
                10412
            ],
            "id": "849fc7ed-456a-40d6-9226-bd25e92a6050",
            "name": "🔍 Verificar Respuesta2"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                48,
                10412
            ],
            "id": "4f260be3-b599-45d7-9c96-ca70604724d5",
            "name": "¿Dify OK?1"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.answer }}",
                "messages": {
                    "messageValues": [
                        {
                            "message": "Eres un formateador de texto para un chat de joyería. Reescribí el siguiente mensaje siguiendo estas reglas ESTRICTAS:\n\n1. MÁXIMO 3-4 líneas de texto\n2. PROHIBIDO usar tablas markdown (|---| o similares)\n3. PROHIBIDO listas numeradas (1. 2. 3.) o con bullets (- o *)\n4. PROHIBIDO negritas (**texto**)\n5. Tono cálido, elegante y conversacional\n6. UNA sola pregunta al final del mensaje\n7. Máximo 1-2 emojis\n8. Si hay un link de WhatsApp, mantenelo tal cual\n9. No inventar datos que no estén en el texto original\n\nDevolvé SOLO el texto reformateado, nada más."
                        }
                    ]
                },
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.7,
            "position": [
                272,
                10160
            ],
            "id": "bd7803e0-81ce-4014-9272-0891e8dc1c7e",
            "name": "✨ Formatear Respuesta",
            "retryOnFail": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list"
                },
                "options": {
                    "maxTokens": 200,
                    "temperature": 0.3
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                344,
                10384
            ],
            "id": "930feb60-5257-44a9-84bf-12e4b601af2e",
            "name": "OpenAI Chat Model2",
            "credentials": {
                "openAiApi": {
                    "id": "RtDfEvCFWwteC4hN",
                    "name": "OpenAi maico"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"success\": true,\n  \"type\": \"bot_response\",\n  \"response\": $json.response.text || $json.text || $json.output || $json.response,\n  \"conversation_id\": $('🔍 Verificar Respuesta2').item.json.conversation_id,\n  \"phoneNumber\": $('Preparar Datos v7').item.json.phoneNumber\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                624,
                10264
            ],
            "id": "ff1fc5ae-db45-4c13-9154-d666bb960a31",
            "name": "✅ Responder OK3"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"success\": true,\n  \"type\": \"bot_response\",\n  \"response\": \"Gracias por tu interés. En este momento tengo mucha demanda y no puedo responderte al instante. Para una atención personalizada, te invito a escribirnos directamente por WhatsApp haciendo clic en el ícono verde de abajo. ¡Estaremos encantados de atenderte! ✨\",\n  \"conversation_id\": \"\",\n  \"phoneNumber\": $('Preparar Datos v7').item.json.phoneNumber\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                336,
                10560
            ],
            "id": "b42c097e-4f52-4233-91ea-ad888fea8b52",
            "name": "⚠️ Responder Fallback3"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"success\": true,\n  \"type\": \"bot_response\",\n  \"response\": \"¡Hola! Ahora mismo nuestro equipo de ventas está atendiendo tu consulta personalmente. Te responderemos a la brevedad por WhatsApp. 😊\",\n  \"conversation_id\": $('Preparar Datos v7').item.json.conversation_id || '',\n  \"phoneNumber\": $('Preparar Datos v7').item.json.phoneNumber\n} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -928,
                10768
            ],
            "id": "aeb7b7a1-7d6f-483a-bf8c-a50f7dd85e26",
            "name": "🤝 Resp: Vendedor Atendiendo1"
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "Maya",
                "remoteJid": "={{ $('Preparar Datos v7').item.json.storeJid }}",
                "messageText": "=🤖 *Respuesta IA para {{ $('Preparar Datos v7').item.json.senderName }}*\n\n{{ $json.response.text || $json.text || $json.output || $json.response }}",
                "options_message": {}
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                848,
                10264
            ],
            "id": "4494fc8b-962b-4b06-82aa-3c7988d369a9",
            "name": "📤 Notificar Respuesta IA3",
            "credentials": {
                "evolutionApi": {
                    "id": "6r5z9RoXouEeeobi",
                    "name": "Evolution Maya"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "Maya",
                "remoteJid": "={{ $json.storeJid }}",
                "messageText": "=💬 *Cliente Web (IA pausada)*\n👤 {{ $json.senderName }} ({{ $json.senderPhone }})\n💬 {{ $json.text }}\n\n⚠️ _Recordá que la IA está pausada para este cliente._",
                "options_message": {}
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                -912,
                10928
            ],
            "id": "b3554691-4e35-494b-a314-30addb797f3b",
            "name": "📤 Notificar (Pausado)1",
            "credentials": {
                "evolutionApi": {
                    "id": "6r5z9RoXouEeeobi",
                    "name": "Evolution Maya"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://joyeria.a380.com.br/api/webhook",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"text\": $json.text,\n  \"senderName\": $json.senderName,\n  \"timestamp\": $json.timestamp,\n  \"phoneNumber\": $json.phoneNumber,\n  \"type\": \"whatsapp_incoming\"\n} }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1744,
                10704
            ],
            "id": "ec310776-edd9-4776-ae12-5b984f6a45a4",
            "name": "📨 WhatsApp → Chat Web6",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"whatsapp\", \"message\": \"WhatsApp recibido\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1520,
                10704
            ],
            "id": "5bca5e2a-d77a-4b13-aaf9-6b3445c874d5",
            "name": "✅ Resp: WhatsApp OK1"
        },
        {
            "parameters": {
                "jsCode": "// ─── LIMPIAR QUERY: Convertir mensaje estructurado a natural ───\nconst text = $json.text || '';\n\nif (text.includes('*Producto:*') || text.includes('Producto:')) {\n  const match = text.match(/\\*?Producto:\\*?\\s*(.+)/i);\n  const product = match ? match[1].trim() : 'una pieza';\n  \n  return {\n    ...$json,\n    text: `Hola, me interesa el ${product}`,\n    originalText: text\n  };\n}\n\nreturn $json;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -752,
                10512
            ],
            "id": "836d7958-b17b-47ec-baf8-d8c9666cab64",
            "name": "📝 Limpiar Query"
        }
    ],
    "connections": {
        "💾 Guardar Pausa (HTTP)": {
            "main": [
                [
                    {
                        "node": "✅ Resp: Pausa OK1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "💾 Guardar Estado (HTTP)": {
            "main": [
                [
                    {
                        "node": "✅ Resp: Comando OK1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Consultar Handoff (HTTP)": {
            "main": [
                [
                    {
                        "node": "🧠 ¿IA Activa?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Chat v": {
            "main": [
                [
                    {
                        "node": "Preparar Datos v7",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos v7": {
            "main": [
                [
                    {
                        "node": "🔀 Router1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Router1": {
            "main": [
                [
                    {
                        "node": "⏸️ Preparar Pausa1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🎮 Procesar Comando1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🔍 Consultar Handoff (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "📨 WhatsApp → Chat Web6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏸️ Preparar Pausa1": {
            "main": [
                [
                    {
                        "node": "💾 Guardar Pausa (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🎮 Procesar Comando1": {
            "main": [
                [
                    {
                        "node": "💾 Guardar Estado (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🧠 ¿IA Activa?1": {
            "main": [
                [
                    {
                        "node": "¿IA Activa?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿IA Activa?1": {
            "main": [
                [
                    {
                        "node": "📤 Notificar Vendedor7",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "📝 Limpiar Query",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🤝 Resp: Vendedor Atendiendo1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "📤 Notificar (Pausado)1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📝 Limpiar Query": {
            "main": [
                [
                    {
                        "node": "🤖 Dify (Blocking)3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🤖 Dify (Blocking)3": {
            "main": [
                [
                    {
                        "node": "🔍 Verificar Respuesta2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Verificar Respuesta2": {
            "main": [
                [
                    {
                        "node": "¿Dify OK?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Dify OK?1": {
            "main": [
                [
                    {
                        "node": "✨ Formatear Respuesta",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "⚠️ Responder Fallback3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✨ Formatear Respuesta": {
            "main": [
                [
                    {
                        "node": "✅ Responder OK3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model2": {
            "ai_languageModel": [
                [
                    {
                        "node": "✨ Formatear Respuesta",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Responder OK3": {
            "main": [
                [
                    {
                        "node": "📤 Notificar Respuesta IA3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📨 WhatsApp → Chat Web6": {
            "main": [
                [
                    {
                        "node": "✅ Resp: WhatsApp OK1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "48879120a3f3dc46e2394aadd0f93e174d47f6eef6bd3799c4f575c713076dca"
    }
}