docs/agente ai/n8n_flujo_v9_dify_directo.json
{
    "name": "Joyería Alianza - Chat v9.1 (Fixes: Supabase + Historial Dify)",
    "nodes": [
        {
            "parameters": {
                "content": "## ⚙️ CONFIGURACIÓN v9.1 — Fixes\n\n**Cambios vs v9:**\n1. ✅ Supabase: removido `$env.SUPABASE_KEY` — usa credencial directa\n2. ✅ Historial: nuevo nodo que lee conversación de Dify API\n3. ✅ LLM: prompt actualizado con historial completo\n4. ✅ WhatsApp: notificación con datos reales\n\n**Configurar:**\n1. **Google Sheets:** Asignar credencial OAuth2 y reemplazar `YOUR_GOOGLE_SHEET_ID`\n2. **Supabase:** Verificar que la credencial `y8DfPHX391IPTiG3` tenga la API key correcta\n3. **OpenAI:** Credencial `RtDfEvCFWwteC4hN` ya configurada\n4. **Evolution API:** Credencial `6r5z9RoXouEeeobi` ya configurada",
                "height": 380,
                "width": 560,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -2600,
                9700
            ],
            "typeVersion": 1,
            "id": "note-v9-config",
            "name": "📌 Config v9.1"
        },
        {
            "parameters": {
                "content": "## 📱 WEBHOOK 1: WhatsApp + Comandos\n\n**Path:** `/jaflujodev`\n\nRecibe solo:\n- Mensajes de WhatsApp (Evolution API)\n- Comandos #pausa / #activar\n- Respuestas del vendedor\n\n⚠️ Ya NO recibe mensajes del chat web.",
                "height": 220,
                "width": 480,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -2600,
                10200
            ],
            "typeVersion": 1,
            "id": "note-v9-whatsapp",
            "name": "📌 WhatsApp Webhook"
        },
        {
            "parameters": {
                "content": "## 🔔 WEBHOOK 2: Eventos Dify (Handoff)\n\n**Path:** `/dify-events`\n\n**Flujo v9.1:**\n1. Recibe evento handoff\n2. 📥 Llama Dify API para obtener historial completo\n3. 🧠 GPT-4.1-mini analiza TODO el historial\n4. 📊 Guarda prospecto en Sheets\n5. 📱 Envía resumen al vendedor por WhatsApp\n6. ⏸️ Pausa IA en Supabase (sin $env)\n\n💡 El LLM ahora tiene contexto completo de la conversación.",
                "height": 340,
                "width": 480,
                "color": 2
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -2600,
                10520
            ],
            "typeVersion": 1,
            "id": "note-v9-dify-events",
            "name": "📌 Dify Events v9.1"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "jaflujodev",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2100,
                10300
            ],
            "id": "wh-whatsapp-v9",
            "name": "Webhook WhatsApp v9",
            "webhookId": "send-to-whatsapp"
        },
        {
            "parameters": {
                "jsCode": "// ─── PREPARAR DATOS v9 (solo WhatsApp + comandos) ───\nconst body = $input.item.json.body;\n\n// ─── WhatsApp entrante (Evolution API) ───\nif (body.event === 'messages.upsert') {\n  const msgData = body.data;\n  const remoteJid = msgData.key.remoteJidAlt || msgData.key.remoteJid;\n  const phoneNumber = remoteJid.split('@')[0];\n  const isFromSeller = !!msgData.key.fromMe;\n  const messageText = msgData.message?.conversation ||\n                      msgData.message?.extendedTextMessage?.text || '[Multimedia]';\n  return {\n    json: {\n      type: isFromSeller ? 'seller_reply' : 'whatsapp_incoming',\n      phoneNumber,\n      text: `[Canal: WhatsApp] ${messageText}`,\n      originalText: messageText,\n      senderName: isFromSeller ? 'Vendedor' : (msgData.pushName || 'Usuario'),\n      timestamp: msgData.messageTimestamp * 1000,\n      conversation_id: '',\n      storeJid: '',\n      canal: 'WhatsApp',\n      isFromSeller\n    }\n  };\n}\n\n// ─── Comandos desde la web (legacy) ───\nconst data = body.data || body;\nconst text = data.text || body.text || '';\nconst isCommand = text.startsWith('#pausa') || text.startsWith('#activar');\nconst clientPhone = String(data.senderPhone || data.phoneNumber || '').replace(/[^0-9]/g, '');\n\nreturn {\n  json: {\n    type: isCommand ? 'command' : 'unknown',\n    command: isCommand ? text.split(' ')[0].toLowerCase() : '',\n    phoneNumber: clientPhone,\n    senderName: data.senderName || 'Cliente',\n    text: text,\n    originalText: text,\n    canal: 'WhatsApp',\n    isFromSeller: false\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1900,
                10300
            ],
            "id": "prep-wa-v9",
            "name": "Preparar Datos WA v9"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "seller_reply",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "Vendedor Responde"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "command",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "Comando"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "whatsapp_incoming",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": "WhatsApp Entrante"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -1700,
                10300
            ],
            "id": "router-wa-v9",
            "name": "🔀 Router WA"
        },
        {
            "parameters": {
                "jsCode": "const phone = $input.item.json.phoneNumber;\nconst resumeAt = new Date(Date.now() + 30 * 60 * 1000).toISOString();\nreturn { json: { client_phone: phone, is_paused: true, paused_by: 'auto', paused_at: new Date().toISOString(), resume_at: resumeAt, seller_name: 'Vendedor', action: 'pause' } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1400,
                10150
            ],
            "id": "prep-pause-v9",
            "name": "⏸️ Preparar Pausa"
        },
        {
            "parameters": {
                "resource": "row",
                "operation": "create",
                "tableId": "chat_handoff",
                "dataToSend": "autoMapInputData",
                "inputsToIgnore": "action"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1200,
                10150
            ],
            "id": "save-pause-v9",
            "name": "💾 Guardar Pausa",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"handoff\", \"message\": \"IA pausada por 30 min\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1000,
                10150
            ],
            "id": "resp-pause-v9",
            "name": "✅ Resp: Pausa OK"
        },
        {
            "parameters": {
                "jsCode": "const cmd = $input.item.json.command;\nconst phone = $input.item.json.phoneNumber;\nif (cmd === '#pausa') {\n  return { json: { client_phone: phone, is_paused: true, paused_by: 'command', paused_at: new Date().toISOString(), resume_at: new Date(Date.now() + 60 * 60 * 1000).toISOString(), seller_name: 'Vendedor (comando)', response_msg: '🛑 IA pausada para este cliente. Escribe #activar para reactivar.' } };\n} else {\n  return { json: { client_phone: phone, is_paused: false, paused_by: '', paused_at: new Date().toISOString(), resume_at: null, seller_name: '', response_msg: '✅ IA reactivada para este cliente.' } };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1400,
                10300
            ],
            "id": "proc-cmd-v9",
            "name": "🎮 Procesar Comando"
        },
        {
            "parameters": {
                "resource": "row",
                "operation": "create",
                "tableId": "chat_handoff",
                "dataToSend": "autoMapInputData",
                "inputsToIgnore": "response_msg"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1200,
                10300
            ],
            "id": "save-state-v9",
            "name": "💾 Guardar Estado",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"command\", \"message\": $json.response_msg } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1000,
                10300
            ],
            "id": "resp-cmd-v9",
            "name": "✅ Resp: Comando OK"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://joyeria.a380.com.br/api/webhook",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"text\": $json.originalText || $json.text, \"senderName\": $json.senderName, \"timestamp\": $json.timestamp, \"phoneNumber\": $json.phoneNumber, \"type\": \"whatsapp_incoming\" } }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1400,
                10450
            ],
            "id": "wa-to-web-v9",
            "name": "📨 WhatsApp → Chat Web"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"whatsapp\", \"message\": \"WhatsApp recibido\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1200,
                10450
            ],
            "id": "resp-wa-v9",
            "name": "✅ Resp: WhatsApp OK"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"type\": \"ignored\", \"message\": \"Tipo no reconocido\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1400,
                10600
            ],
            "id": "resp-fallback-wa-v9",
            "name": "⚠️ Resp: Desconocido"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dify-events",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2100,
                10800
            ],
            "id": "wh-dify-events-v9",
            "name": "Webhook Dify Events",
            "webhookId": "dify-events"
        },
        {
            "parameters": {
                "jsCode": "// ─── Procesar evento de Dify (handoff) ───\nconst body = $input.item.json.body;\nconst event = body.event || 'unknown';\nconst senderName = body.senderName || 'Cliente Web';\nconst senderPhone = String(body.senderPhone || '').replace(/[^0-9]/g, '');\nconst conversationId = body.conversationId || '';\nconst botResponse = body.botResponse || '';\nconst userQuery = body.userQuery || '';\n\nreturn {\n  json: {\n    event,\n    senderName,\n    senderPhone,\n    phoneNumber: senderPhone,\n    conversationId,\n    botResponse,\n    userQuery,\n    canal: 'Web Boutique',\n    timestamp: Date.now(),\n    difyUser: `web-${senderPhone}`\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1900,
                10800
            ],
            "id": "prep-event-v9",
            "name": "📋 Preparar Evento"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.event }}",
                            "rightValue": "handoff_detected",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1700,
                10800
            ],
            "id": "is-handoff-v9",
            "name": "¿Es Handoff?"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.dify.ai/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "conversation_id",
                            "value": "={{ $json.conversationId }}"
                        },
                        {
                            "name": "user",
                            "value": "={{ $json.difyUser }}"
                        },
                        {
                            "name": "limit",
                            "value": "20"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1500,
                10800
            ],
            "id": "fetch-dify-history-v9",
            "name": "📥 Obtener Historial Dify",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "CONFIGURAR_DIFY_AUTH",
                    "name": "Dify API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Combinar historial de Dify con datos del evento\nconst eventData = $('📋 Preparar Evento').item.json;\nconst difyResponse = $json;\n\n// Extraer mensajes del historial de Dify\nlet conversationText = '';\nconst messages = difyResponse.data || [];\n\n// Los mensajes vienen en orden descendente, los invertimos\nconst sorted = [...messages].reverse();\n\nfor (const msg of sorted) {\n  const userMsg = msg.query || '';\n  const botMsg = msg.answer || '';\n  if (userMsg) conversationText += `👤 Cliente: ${userMsg}\\n`;\n  if (botMsg) conversationText += `🤖 Alma: ${botMsg}\\n`;\n  conversationText += '---\\n';\n}\n\nif (!conversationText) {\n  // Fallback: usar solo el último mensaje si no hay historial\n  conversationText = `👤 Cliente: ${eventData.userQuery}\\n🤖 Alma: ${eventData.botResponse}`;\n}\n\nreturn {\n  json: {\n    ...eventData,\n    conversationHistory: conversationText,\n    totalMessages: sorted.length\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1300,
                10800
            ],
            "id": "format-history-v9",
            "name": "📝 Formatear Historial"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Conversación COMPLETA de handoff en Joyería Alianza (joyería de alta gama).\n\nCliente: {{ $json.senderName }} ({{ $json.senderPhone }})\nCanal: {{ $json.canal }}\nTotal mensajes: {{ $json.totalMessages }}\n\n--- HISTORIAL COMPLETO ---\n{{ $json.conversationHistory }}\n--- FIN HISTORIAL ---",
                "messages": {
                    "messageValues": [
                        {
                            "message": "Eres un analista de ventas de joyería de alta gama. Analiza esta conversación COMPLETA entre un cliente y la asistente Alma.\n\nExtrae SOLO un JSON con estos campos. Busca en TODA la conversación las pistas:\n{\n  \"nombre\": \"nombre del cliente si se mencionó\",\n  \"producto\": \"joya específica que le interesó (nombre, tipo, material)\",\n  \"precio\": \"precio mencionado si lo hay\",\n  \"para_quien\": \"para quién es la joya (regalo, uso personal)\",\n  \"ocasion\": \"ocasión (cumpleaños, aniversario, etc)\",\n  \"urgencia\": \"baja/media/alta según las señales\",\n  \"preferencias\": \"gustos, estilo, materiales preferidos\",\n  \"nivel_interes\": \"bajo/medio/alto basado en la conversación\",\n  \"resumen\": \"2-3 líneas resumiendo la intención de compra\"\n}\n\nSi un dato no se mencionó, pon 'No mencionado'. Devolvé SOLO el JSON."
                        }
                    ]
                },
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.7,
            "position": [
                -1100,
                10800
            ],
            "id": "llm-resumen-v9",
            "name": "🧠 LLM Resumen Handoff",
            "retryOnFail": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1-mini",
                    "mode": "list"
                },
                "options": {
                    "maxTokens": 500,
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                -1100,
                11000
            ],
            "id": "openai-model-v9",
            "name": "OpenAI Model",
            "credentials": {
                "openAiApi": {
                    "id": "RtDfEvCFWwteC4hN",
                    "name": "OpenAi maico"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parsear JSON del LLM y combinar con datos del evento\nconst llmOutput = $json.response?.text || $json.text || $json.output || $json.response || '{}';\nlet parsed = {};\ntry {\n  const jsonMatch = llmOutput.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch(e) { parsed = { resumen: llmOutput }; }\n\nconst prev = $('📝 Formatear Historial').item.json;\nreturn {\n  json: {\n    ...parsed,\n    phoneNumber: prev.senderPhone,\n    senderName: prev.senderName,\n    canal: prev.canal,\n    conversationId: prev.conversationId,\n    userQuery: prev.userQuery,\n    botResponse: prev.botResponse,\n    storeJid: '59895435644',\n    fecha: new Date().toISOString().split('T')[0]\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -900,
                10800
            ],
            "id": "proc-resumen-v9",
            "name": "📋 Procesar Resumen"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Prospectos",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "fecha": "={{ $json.fecha }}",
                        "canal": "={{ $json.canal }}",
                        "nombre": "={{ $json.nombre || $json.senderName }}",
                        "telefono": "={{ $json.phoneNumber }}",
                        "producto": "={{ $json.producto || 'No mencionado' }}",
                        "precio": "={{ $json.precio || 'No mencionado' }}",
                        "para_quien": "={{ $json.para_quien || 'No mencionado' }}",
                        "ocasion": "={{ $json.ocasion || 'No mencionado' }}",
                        "urgencia": "={{ $json.urgencia || 'No mencionado' }}",
                        "preferencias": "={{ $json.preferencias || 'No mencionado' }}",
                        "nivel_interes": "={{ $json.nivel_interes || 'No mencionado' }}",
                        "estado": "=Handoff Web (Dify directo)",
                        "conversation_id": "={{ $json.conversationId }}",
                        "resumen": "={{ $json.resumen || '' }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                -700,
                10800
            ],
            "id": "save-prospecto-v9",
            "name": "📊 Guardar Prospecto",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "CONFIGURAR_GOOGLE_SHEETS",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "Maya",
                "remoteJid": "=59895435644",
                "messageText": "=🌐 *Handoff desde Chat Web*\n\n👤 {{ $json.nombre || $json.senderName }} ({{ $json.phoneNumber }})\n💍 {{ $json.producto || 'No mencionado' }}\n💰 {{ $json.precio || '-' }}\n🎁 {{ $json.para_quien || '-' }} | {{ $json.ocasion || '-' }}\n⏰ Urgencia: {{ $json.urgencia || '-' }}\n✨ {{ $json.preferencias || '-' }}\n🔥 Interés: {{ $json.nivel_interes || '-' }}\n\n📝 {{ $json.resumen || 'Ver prospecto en Sheets' }}",
                "options_message": {}
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                -500,
                10800
            ],
            "id": "send-wa-vendor-v9",
            "name": "📱 Notificar Vendedor WA",
            "credentials": {
                "evolutionApi": {
                    "id": "6r5z9RoXouEeeobi",
                    "name": "Evolution Maya"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar datos para Supabase desde nodos anteriores\nconst phone = $('📋 Procesar Resumen').item.json.phoneNumber || $('📝 Formatear Historial').item.json.senderPhone;\nreturn {\n  json: {\n    client_phone: phone,\n    is_paused: true,\n    paused_by: 'handoff_web',\n    paused_at: new Date().toISOString(),\n    resume_at: new Date(Date.now() + 30 * 60 * 1000).toISOString(),\n    seller_name: 'Vendedor'\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -300,
                10800
            ],
            "id": "prep-pause-handoff-v9",
            "name": "⏸️ Preparar Pausa Web"
        },
        {
            "parameters": {
                "resource": "row",
                "operation": "create",
                "tableId": "chat_handoff",
                "dataToSend": "autoMapInputData"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -100,
                10800
            ],
            "id": "pause-ia-handoff-v9",
            "name": "💾 Pausar IA (Handoff Web)",
            "credentials": {
                "supabaseApi": {
                    "id": "y8DfPHX391IPTiG3",
                    "name": "Supabassupabasejabonnavarro@tuamaeaque"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"event\": \"handoff_processed\", \"message\": \"Vendedor notificado por WhatsApp\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -100,
                10800
            ],
            "id": "resp-handoff-ok-v9",
            "name": "✅ Evento Procesado"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"event\": \"ignored\", \"message\": \"Evento no requiere acción\" } }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1500,
                10950
            ],
            "id": "resp-ignore-v9",
            "name": "⏭️ Evento Ignorado"
        }
    ],
    "connections": {
        "Webhook WhatsApp v9": {
            "main": [
                [
                    {
                        "node": "Preparar Datos WA v9",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos WA v9": {
            "main": [
                [
                    {
                        "node": "🔀 Router WA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Router WA": {
            "main": [
                [
                    {
                        "node": "⏸️ Preparar Pausa",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🎮 Procesar Comando",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "📨 WhatsApp → Chat Web",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "⚠️ Resp: Desconocido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏸️ Preparar Pausa": {
            "main": [
                [
                    {
                        "node": "💾 Guardar Pausa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "💾 Guardar Pausa": {
            "main": [
                [
                    {
                        "node": "✅ Resp: Pausa OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🎮 Procesar Comando": {
            "main": [
                [
                    {
                        "node": "💾 Guardar Estado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "💾 Guardar Estado": {
            "main": [
                [
                    {
                        "node": "✅ Resp: Comando OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📨 WhatsApp → Chat Web": {
            "main": [
                [
                    {
                        "node": "✅ Resp: WhatsApp OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Dify Events": {
            "main": [
                [
                    {
                        "node": "📋 Preparar Evento",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 Preparar Evento": {
            "main": [
                [
                    {
                        "node": "¿Es Handoff?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Es Handoff?": {
            "main": [
                [
                    {
                        "node": "📥 Obtener Historial Dify",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "⏭️ Evento Ignorado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📥 Obtener Historial Dify": {
            "main": [
                [
                    {
                        "node": "📝 Formatear Historial",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📝 Formatear Historial": {
            "main": [
                [
                    {
                        "node": "🧠 LLM Resumen Handoff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🧠 LLM Resumen Handoff": {
            "main": [
                [
                    {
                        "node": "📋 Procesar Resumen",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 Procesar Resumen": {
            "main": [
                [
                    {
                        "node": "📊 Guardar Prospecto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Guardar Prospecto": {
            "main": [
                [
                    {
                        "node": "📱 Notificar Vendedor WA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📱 Notificar Vendedor WA": {
            "main": [
                [
                    {
                        "node": "⏸️ Preparar Pausa Web",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏸️ Preparar Pausa Web": {
            "main": [
                [
                    {
                        "node": "💾 Pausar IA (Handoff Web)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "💾 Pausar IA (Handoff Web)": {
            "main": [
                [
                    {
                        "node": "✅ Evento Procesado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "🧠 LLM Resumen Handoff",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "48879120a3f3dc46e2394aadd0f93e174d47f6eef6bd3799c4f575c713076dca"
    }
}